{%load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dog Collector</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>
<body>
    <header class="navbar-fixed">
        <nav>
            <div class='nav-wrapper'>
                <ul>
                    <li><a href="{% url 'home' %}" class="'left brand-logo">&nbsp; &nbsp; Dog Collector</a></li>       
                </ul>

                <ul class='right'>
                    <li><div>{{ user.get_username }}</div></li>
                    <li><a href="{% url 'about' %}">About</li></a>
                    {% if user.is_authenticated %}
                    <li><a href="{% url 'index' %}">View All My Dogs</li></a>
                    <li><a href="{% url 'dogs_create' %}">Add New Dog</a></li>
                    <li><a href="{% url 'toys_create' %}">Add a Toy</a></li>
                    <li><a href="{% url 'toys_index' %}">View All Toys</a></li>
                    <li><a href="{% url 'logout' %}">Log Out</a></li>
                    {% else %}
                    <li><a href="{% url 'login' %}">Sign In</a></li>
                    <li><a href="{% url 'signup' %}">Sign Up</a></li>
                    {% endif %}
                </ul>
            </div>
        </nav>
    </header>

    <main class="container">
        {% block content %}
        {% endblock %}
    </main>

    <footer class="page-footer">
        <div class="right">All Rights Reserved, &copy; 2023 Dog Collector &nbsp;</div>
    </footer>

</body>
</html>